@page
@model FlashCardsDemo.Pages.FlashCards.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="cards">
        <div class="cards-header">
            <h4>Edit</h4>
            <small>FlashCard</small>
            </div>

            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="FlashCard.Id" />
                <div class="form-group">
                    <label asp-for="FlashCard.Question" class="control-label"></label>
                    <input asp-for="FlashCard.Question" class="form-control" />
                    <span asp-validation-for="FlashCard.Question" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FlashCard.Answer" class="control-label"></label>
                    <input asp-for="FlashCard.Answer" class="form-control" />
                    <span asp-validation-for="FlashCard.Answer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" value="Save" class="btn btn-info btn-sm">Save <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                </div>
            </form>
        </div>
    </div>
<br />
<div>
    <a class="btn btn-secondary  btn-sm" asp-page="./Index">Back to List <i class="fa fa-arrow-left" aria-hidden="true"></i></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
